
.navbar {
    max-height: 80px;

  }

.navbar-nav {
    margin-right: 0 !important; 
    padding-right: 0 !important; 
} 

  #logohead {
    max-height: 80px;
    height: 100%;
    width: auto; /* Maintains aspect ratio */
  }

  .dropdown-menu .dropdown-item {
    color: white;
  }

  .dropdown-menu .dropdown-item:hover {
    color: white; 
    background-color: #333; 
  }
  
  .custom-bg {
    background-color: #343A40 !important; /* !important ensures it overrides default styles */
}