.head {
    display: flex;
    background-color: black;
    align-items: center;
    padding: 10px; 
    width: 100%;
    height: 6vh;

}


ul {
    list-style-type: none;
    padding: 0;
}

.logo-head{
    max-width: 120px;
    max-height: 6vh;
    margin-left: 2vw;
    margin-right: 5vw;
    min-width: 80px;
}

.logo-img{
    max-width: 100%;
    max-height: 100%;
}

.navbar{
    margin-right: 5vw;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav{
    display: inline-block;
    float: none;
}

.nav-item {
    border: 1px solid red; /* Chỉ để kiểm tra */
}


.search-button{
    --searchpad: 6px;

    display: flex;
    align-items: center;
    margin-left: 12vw;
    padding: var(--searchpad);
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    width: 25vw;
}

.search-input{
    border: none;
    margin-left: var(--searchpad);
    outline: none;
    background: transparent;
    flex: 1;
}



.cart-account {
    display: flex;
    margin-left: auto;
    margin-right: 2vw; 
}

.cart-icon {
    color: white;
    
}

.account-icon{
    color: white;
}

.cart-button, .account-button{
    width: 40px; 
    height: 40px; 
    background-color: #363636; 
    border-radius: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0 8px; 
}